<div class="row mt-2" style="border-bottom:1px solid #ececec">
    <div class="col">
        <h4>Taskboards</h4>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <div class="d-flex flex-row-reverse">
            <button class="btn btn-primary" ng-click="addTaskboard('Add Taskboard','/templates/add_board.html', '400px', '250px')">Add Board</button>
        </div>
        <table class="table table-bordered mt-2">
            <thead>
            <tr>
                <th>Name</th>
                <th>Created By</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="taskboardValue in taskboardData">
                <td>{{taskboardValue.title}}</td>
                <td>{{taskboardValue.created_by}}</td>
                <td><input type="button" name="test" class="btn btn-primary btn-sm" value="Edit"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <div id="modal" ng-show="displayModal" class="my-modal" style="height:{{height ? height : '400px'}}; width:{{width ? width:'400px'}};">
        <div class="my-modal-title d-flex" style="justify-content:space-between">
            <div>{{title}}</div>
            <div>
                <button ng-click="closeTaskboard()" class="btn btn-primary btn-sm">x</button>
            </div>
        </div>
        <div class="my-modal-content">
        <!-- form starts -->
            <div class="row mt-2">
                <div class="col">
                    <form action="javascript:void(0)" ng-submit="saveTaskboard()">
                        <div class="form-group">
                            <label for="">Title</label>
                            <input type="text" ng-model="taskboard.title" class="form-control">
                        </div>
                        <div class="form-group d-flex" style="justify-content:flex-end">
                            <input type="hidden" ng-model="taskboard.taskboardid">
                            <input type="submit" class="btn btn-success" value="Save"/>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!-- form ends -->
    </div>
</div>