<div class="row mt-2" style="border-bottom:1px solid #ececec">
    <div class="col">
        <h5>Taskboards</h5>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <div ng-if="taskboardErrors.unauthorised" class="alert alert-danger">
                    Unauthorised operation
        </div>
        <div ng-if="taskboardErrors.errors" class="alert alert-danger">
                    {{taskboardErrors.errors}}
        </div>
        <div class="d-flex flex-row" style="">
                <button class="btn btn-primary ml-auto"
                        ng-click="addTaskboard('Add Taskboard','/templates/add_board.html', '400px', '250px')">Add Board
                </button>
        </div>

        <table class="table table-bordered mt-2">
            <thead>
            <tr>
                <th>Name</th>
                <th>Created By</th>
                <th>Created Date</th>
                <th>Last Updated</th>
                <th>Figures</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="taskboardData.length == 0">
                <td colspan="5">No Taskboards Found</td>
            </tr>
            <tr ng-repeat="taskboardValue in taskboardData">
                <td>{{taskboardValue.title}}</td>
                <td>
                    <div class="d-flex" style="justify-content:space-between;">
                        <span>{{taskboardValue.created_by}}</span>
                        <i title="You have administrative access" ng-if="taskboardValue.creator"
                           class="fas fa-user-shield"></i>
                    </div>
                </td>
                <td>{{taskboardValue.created_date}}</td>
                <td>{{taskboardValue.updated_date}}</td>
                <td>
                    <span title="Total tasks" class="badge badge-primary">{{taskboardValue.stats.total_count}}</span>
                    <span title="Completed tasks" class="badge badge-success">{{taskboardValue.stats.closed_count}}</span>
                    <span title="Ongoing tasks" class="badge badge-warning">{{taskboardValue.stats.open_count}}</span>
                    <span title="Completed tasks today" class="badge badge-secondary">{{taskboardValue.stats.closed_today}}</span>
                </td>
                <td>
                    <div class="d-flex" style="justify-content:flex-start">
                        <button ng-click="showTaskboard(taskboardValue.id)" class="btn btn-light btn-sm ml-2"><i
                                class="fas fa-info-circle"></i> View
                        </button>
                        <button ng-if="taskboardValue.creator"
                                ng-click="editTaskboard('Edit Taskboard','', '400px', '250px',taskboardValue.id)"
                                class="btn btn-light btn-sm ml-2"><i class="fas fa-edit"></i> Edit
                        </button>
                        <button ng-if="taskboardValue.creator" ng-click="deleteTaskboard(taskboardValue)"
                                class="btn btn-light btn-sm ml-2"><i class="fas fa-trash"></i> Delete
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <div id="modal" ng-show="displayModal" class="my-modal"
         style="height:{{height ? height : '400px'}}; width:{{width ? width:'400px'}};">
        <div class="my-modal-title d-flex" style="justify-content:space-between;align-items:center">
            <h6 style="margin:0">{{title}}</h6>
            <div>
                <i ng-click="closeTaskboard()" class="close-modal fas fa-times"></i>
            </div>
        </div>
        <div class="my-modal-content">
            <!-- form starts -->
            <div class="row mt-2">
                <div class="col">
                    <form action="javascript:void(0)" ng-submit="saveTaskboard()">
                        <div class="form-group">
                            <label for="">Title</label>
                            <input type="text" ng-model="taskboard.title" class="form-control"
                                   ng-class="{'is-invalid': errors.title}">
                            <div class="invalid-feedback">{{errors.title}}</div>
                        </div>

                        <div class="form-group d-flex" style="justify-content:flex-end">
                            <input type="hidden" ng-model="taskboard.id">
                            <input type="submit" class="btn btn-success" value="Save"/>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!-- form ends -->
    </div>
</div>