<div class="row mt-2" style="border-bottom:1px solid #ececec">
    <div class="col d-flex" style="justify-content:space-between">
        <h4>Taskboard: {{taskboard.title}}</h4>
        <div>
            <div><small><strong><i ng-if="taskboard.creator" class="fas fa-user-shield"></i> Administrator:</strong>
                {{taskboard.created_by}}</small></div>
            <div><small><strong>Date Created:</strong> {{taskboard.created_date}}</small></div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-9 col-sm-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <div>Tasks</div>
                <button ng-click="showTaskModal('Add Task', 'Save','600', '600')"
                        class="btn btn-success btn-sm ml-auto"><i class="fas fa-id-card"></i> Add Task
                </button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Assigned to</th>
                        <th>Created by</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="task in tasks">
                        <td>{{task.title}}</td>
                        <td>{{task.assigned_to}}</td>
                        <td>{{task.created_by}}</td>
                        <td>{{task.due_date}}</td>
                        <td><i class="fas" ng-class="{'fa-check-circle text-success':task.status, 'fa-spinner text-danger':!task.status}"></i></td>
                        <td>
                            <button ng-click="showTaskModal('Details', 'Update', '620', '600', task.id, true)" class="btn btn-default btn-sm"><i class="fas fa-info-circle"></i>&nbsp;Details</button>
                            <button ng-click="showTaskModal('Edit Task', 'Update', '620', '600', task.id)" class="btn btn-default btn-sm"><i class="fas fa-edit"></i>&nbsp;Edit</button>
                            <button class="btn btn-default btn-sm"><i class="fas fa-trash-alt"></i>&nbsp;Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <div>Members</div>
                <button ng-click="showMemberModal('Add Member', 'Invite', '350','350')" class="btn btn-success btn-sm ml-auto">Invite Member</button>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex d-row" ng-repeat="member in taskboard.members">
                    <span>{{member.app_user_email}}</span>
                    <a href="#" class="ml-auto"><i class="fas fa-trash-alt"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div>
    <div ng-show="addTaskModal" class="my-modal"
         style="height:{{taskModal.height ? taskModal.height : '400px'}}; width:{{taskModal.width ? taskModal.width:'400px'}};">
        <div class="my-modal-title d-flex" style="justify-content:space-between">
            <div>{{taskModal.title}}</div>
            <div>
                <i ng-click="closeTaskModal()" class="close-modal fas fa-times"></i>
            </div>
        </div>
        <div class="my-modal-content" style="height:{{taskModal.contentHeight}}">
            <!-- form starts -->
            <div class="row mt-2">
                <div class="col">
                    <form action="javascript:void(0)" ng-submit="saveTaskToTaskboard()">
                        <div class="form-group">
                            <label for="">Title</label>
                            <input type="text" ng-model="task.title" class="form-control"
                                   ng-class="{'is-invalid': errors.title}" ng-disabled="taskModal.readonly">
                            <div class="invalid-feedback">{{errors.title}}</div>
                        </div>
                        <div class="form-group">
                            <label for="">Description</label>
                            <textarea style="height:120px" class="form-control" ng-model="task.description" ng-disabled="taskModal.readonly"
                                      ng-class="{'is-invalid': errors.description}">{{task.description}}</textarea>
                            <div class="invalid-feedback">{{errors.description}}</div>
                        </div>
                        <div class="form-group">
                            <label for="">Due Date</label>
                            <input type="date" ng-model="task.due_date" class="form-control" ng-disabled="taskModal.readonly"
                                   ng-class="{'is-invalid': errors.due_date}">
                            <div class="invalid-feedback">{{errors.due_date}}</div>
                        </div>
                        <div class="form-group">
                            <label for="">Assigned to</label>
                            <select ng-model="task.assigned_to" class="form-control" ng-class="{'is-invalid': errors.description}" ng-disabled="taskModal.readonly">
                                <option value="">Select member</option>
                                <option value="{{taskboard_member.app_user}}" ng-repeat="taskboard_member in taskboard.members"
                                        ng-selected="taskboard_member.app_user == task.assigned_to"
                                >{{taskboard_member.app_user_email}}</option>
                            </select>
                            <div class="invalid-feedback">{{errors.assigned_to}}</div>
                        </div>

                        <div class="form-group" ng-show="taskModal.editModal">
                            <label for="">Status</label>
                            <select ng-model="task.status" class="form-control" ng-class="{'is-invalid': errors.description}" ng-disabled="taskModal.readonly">
                                <option value="0" ng-selected="task.status==0">Incomplete</option>
                                <option value="1" ng-selected="task.status==1">Complete</option>
                            </select>
                            <div class="invalid-feedback">{{errors.assigned_to}}</div>
                        </div>

                        <div class="form-group" ng-show="taskModal.readonly">
                            <label for="">Created by</label>
                            <div class="form-control">{{task.created_by}}</div>
                        </div>

                        <div class="form-group" ng-show="taskModal.readonly">
                            <label for="">Created Date</label>
                            <div class="form-control">{{task.created_date}}</div>
                        </div>

                        <div class="form-group d-flex" style="justify-content:flex-end">
                            <input type="hidden" ng-model="task.id">
                            <input type="hidden" ng-model="task.taskboard_id">
                            <input type="submit" class="btn btn-success" ng-value="taskModal.save" ng-show="!taskModal.readonly"/>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!-- form ends -->
    </div>


    <div ng-show="addMemberModal" class="my-modal"
         style="height:{{memberModal.height ? memberModal.height : '400px'}}; width:{{memberModal.width ? memberModal.width:'400px'}};">
        <div class="my-modal-title d-flex" style="justify-content:space-between">
            <div>{{memberModal.title}}</div>
            <div>
                <i ng-click="closeMemberModal()" class="close-modal fas fa-times"></i>
            </div>
        </div>
        <div class="my-modal-content" style="height:{{memberModal.contentHeight}}">
            <!-- form starts -->
            <div class="row mt-2">
                <div class="col">
                    <form action="javascript:void(0)" ng-submit="saveMemberToTaskboard()">
                        <div class="form-group">
                            <label for="">User</label>
                            <select name="taskboard_member" ng-model="taskboardUser.app_user" class="form-control" ng-class="{'is-invalid': errors.user}" multiple>
                                <option ng-value="user.id" ng-repeat="user in users">{{user.email}}</option>
                            </select>
                            <div class="invalid-feedback">{{errors.user}}</div>
                        </div>
                        <div class="form-group d-flex" style="justify-content:flex-end">

                            <input type="hidden" name="taskboard_id" ng-model="taskboardUser.taskboard">
                            <input type="submit" class="btn btn-success" ng-value="memberModal.save"/>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!-- form ends -->
    </div>


</div>

