<!DOCTYPE html>
<html lang="en" ng-app="TaskManagementApp">
<head>
    <meta charset="UTF-8">
    <title>{{params.title}}</title>
    <!-- bootstrap css    -->
    <link rel="stylesheet" href="{{params.base_url}}/public/bootstrap.min.css">
    <!-- fontawesome icons css-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- custom style rules -->
    <link rel="stylesheet" href="{{params.base_url}}/public/style.css">

    <script src="{{params.base_url}}/public/jquery-3.2.1.slim.min.js"></script>
    <script src="{{params.base_url}}/public/popper.min.js"></script>
    <script src="{{params.base_url}}/public/bootstrap.min.js"></script>
    <script src="{{params.base_url}}/public/angular.min.js"></script>
    <script src="{{params.base_url}}/public/angular-route.js"></script>
    <script src="{{params.base_url}}/public/app.module.js"></script>
    <script src="{{params.base_url}}/public/components/sidebar.component.js"></script>
    <script src="{{params.base_url}}/public/components/taskboard.component.js"></script>
    <script src="{{params.base_url}}/public/components/taskboard_info.component.js"></script>
    <script>
        var base_url = '{{params.base_url}}'

    </script>
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Task Management</a>
    {%if params.user%}
    <a href="{{params.url}}">Logout</a>
    {%else%}
    <a href="{{params.url}}">Login</a>
    {%endif%}
</nav>

<div class="container-fluid main-content">
    <div class="row">
        <ul class="list-group nav col-2" style="border:1px solid #ececec">
            <side-bar></side-bar>

        </ul>
        <div class="col-10 main-content">
            <div ng-view class="mt-2"></div>
        </div>
    </div>
</div>

<!--confirmation model-->
<div ng-if="confirmModal.showModal" class="my-modal"
     style="{{'height:{{confirmModal.height ? confirmModal.height : \'400px\'}}; width:{{confirmModal.width ? confirmModal.width:\'400px\'}};'}}">
    <div class="my-modal-title d-flex" style="justify-content:space-between;align-items:center">
        <h6 style="margin:0">{{'{{confirmModal.modalTitle}}'}}</h6>
        <div>
            <i ng-click="confirmModal.cancelCallback()" class="close-modal fas fa-times"></i>
        </div>
    </div>
    <div class="my-modal-content" style="{{'height:{{confirmModal.contentHeight}}'}}">
        <!-- form starts -->
        <div class="row mt-2">
            <div class="col">
                <form action="javascript:void(0)" ng-submit="confirmModal.confirmCallback()" class="d-flex flex-column" style="justify-content: space-around">
                    <div ng-if="errors.unauthorised" class="alert alert-danger">
                            You are not allowed to perform this operation
                    </div>
                    <div class="form-group">
                        {{'{{confirmModal.modalText}}'}}
                    </div>
                    <div class="form-group d-flex" style="justify-content:flex-end">
                        <input type="button" class="btn btn-sm btn-danger" ng-value="confirmModal.cancelButton" ng-click="confirmModal.cancelCallback()"/>
                        <input type="submit" class="btn btn-sm btn-success ml-2" ng-value="confirmModal.successButton"/>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- form ends -->
</div>

<p id="myOverlay" class="my-overlay hide"></p>

</body>
</html>